@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'League Spartan', sans-serif;
    background-color: hsl(0, 0%, 100%);
}

.conteiner-titulo {
    display: flex;
}

.titulo{
    width: 280px;
    color: hsl(300, 43%, 22%);
    font-size: 45px;
    margin: 100px 0px 0px 100px;
}

.sub-titulo{
    color: hsl(303, 10%, 53%);
    width: 370px;
    margin: 15px 0px 0px 100px;
}

.estrelas{
    margin: 115px 0px 0px 80px; 
}

.estrelas .reviews, .report-guru, .besttech{
    background-color: hsl(300, 24%, 96%);
    color: hsl(300, 43%, 22%);
    font-weight: 700;
    width: 300px;
    height: 35px;
    margin: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.estrelas .report-guru{
    margin-left: 25px;
}

.estrelas .besttech{
    margin-left: 50px;
}

/*  */
.depoimentos{
    display: flex;
}

.depoimentos .colton-smith{
    background-color: hsl(300, 43%, 22%);
    color: hsl(0, 0%, 100%);
    width: 280px;
    margin: 10px;
}

.depoimentos .colton-smith h5{
    color: hsl(333, 80%, 67%);
}

.depoimentos .irene-robers{
    background-color: hsl(300, 43%, 22%);
    color: hsl(0, 0%, 100%);
    width: 280px;
    margin: 10px;
}

.depoimentos .irene-robers h5{
    color: hsl(333, 80%, 67%);
}

.depoimentos .anne-wallace{
    background-color: hsl(300, 43%, 22%);
    color: hsl(0, 0%, 100%);
    width: 280px;
    margin: 10px;
}

.depoimentos .anne-wallace h5{
    color: hsl(333, 80%, 67%);
}